
.mainUserAccountDAD{
    
    /*background-color: rgb(206, 31, 31); */
    margin-top: 1%;
    margin-bottom: 20px;
    position: relative;
    display: block;
    padding-top: 50px;
    height:300px;
    min-height: calc(100% - 235px); /* 235px is the height of the footer */
    padding-bottom: 235px;
    overflow-y:auto;
      
  }
  
  .profile-containerAD {
      
      
      
    position: relative;
   
    margin-bottom: 1px;
    
    
    width: 100%;
    height: 700px;
    transform: scale(0.98);
    border-radius: 20px;
   
    padding: 10px;
   
    }
    
    .profile-containerAD img {
       
      position: relative;
      top: -35%;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 20px;
      background-color: #ff0707;
      padding: 5px;
      animation: opacityLoop 1s infinite alternate;
    }
    @keyframes opacityLoop {
      0% {
        background-color: rgba(255, 7, 7, 0.1);
      }
      100% {
        background-color: rgba(255, 7, 7, 1);
      }
    }
    
  
    .nameEmailAD{
      position: absolute;
    margin-top:1%;
    left:44%;
    }
    
    .content-containerAD {
      
      display: grid;
    grid-template-columns: 400px 500px 400px;
    column-gap: 20px;
    width:100%;
    margin: 1px;
    background-color: #fafafa4b;
    background: linear-gradient(to top, rgba(250, 250, 250, 0) 0.5%, rgba(255, 255, 255, 0.507) 98%);
    height:580px;
    margin-top: 90px;
    bottom:0;
    border-radius: 20px;
    }
    
    .sub-containerLeftAD {
      position: absolute;
      display:grid;
      
      grid-template-rows: 60px 130px 290px;
      background-color: #00000054;
      width: 30%;
      margin-top: 50px;
      
      max-width: 400px;
      height: 550px;
      transform: scale(0.9);
      border-radius: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
  
    .sub-containerMiddleAD {
      position: absolute;
    margin-left: 28%;
    margin-right: auto;
    background-color: #00000054;
    margin-top: 170px;
    width: fit-content;
    max-width: 800px;
    height: fit-content;
    border-radius: 20px;
    transform: scale(0.8);
    padding-bottom: 20px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    .real_sub_containerRightAD{
      position: absolute;
    
      display: grid;
      grid-template-rows: 50px 450px 20px;
      width: 370px;
      margin-top: 20px;
      margin-left: 70%;
      margin-bottom: 20px;
      max-width: 400px;
      height: 550px;
      
    }
    .displayNotifyAD{
      background-color: #666464;
    
    margin:10px;
    padding-top: 10px;
    height:370px;
    overflow-y: scroll;
    }
    .sub-containerRightAD {
     
      
      
      position: absolute;
    
    padding-right: 10px;
    background-color: #00000054;
    width: 370px;
    margin-top: 50px;
    margin-left: 75%;
    max-width: 400px;
    height: 450px;
    transform: scale(0.9);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    .updBtnClassAD{
      display: grid;
    grid-template-columns: 180px 180px;
    width:90%;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    margin-top:440px;
      
    }
    .sub-containerAD:not(:last-child) {
      margin-right: 30px;
    }
  
    .updBtnAD{
      
      margin-bottom: 0;
    margin-left: 5px;
    height:60px;
    border-radius: 10px;
    transform: scale(0.8);
    background-color: #646363;
    }
    .updBtnAD:hover{
      background-color: #df0000;
    }
  
    .dltBtnAD{
     
      height: 60px;
      right:30%;
      transform: scale(0.8);
      background-color: #df000079;
      border-radius: 10px;
    }
    
  .dltBtnAD:hover{
    background-color: #df0000;
  }
  
    .LogoutbtnAD{
      border-radius: 10px;
      background-color: #df0000;
    }
    
  
    .cmpltAccoutAD{
      position: absolute;
    margin-top:4px;
    right: 10px;
    
      
      
    }
  
    .progressbarAD{
      padding: 10px;
    }
    .btnCmpltAccAD{
      background-color: #000000;
      border-radius: 10px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }
    .btnCmpltAccAD:hover{
      background-color: #df0000;
    }
  
    .accCmpltLabelAD{
        color: #000000;
        font-family:'inter', 'san-serif';
    }
  
    .myPlanContainerAD{
      padding: 5px;
      height: 140px;
      margin-top: 70px;
      margin-left: 10px;
      margin-right:10px;
      height:130px;
      background-color: rgb(0, 0, 0);
      border-radius: 20px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }
   
    .MMP_textAD{
      margin-top: 10px;
      font-size: 17px;
      font-family:'inter', 'san-serif';
    }
  
    .rounded-rectangleAD {
      border-radius: 10px;
      background-color: #646363;
      margin-top:10px;
      margin-left: 15px;
      width:150px;
      height:30px;
      padding: 2px;
      display: inline-block;
      padding: 3px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    
    .value2AD {
      font-size: 17px;
    font-weight: bold;
    
    color: #fdfdfd;
    }
    .accCmpltLabelAD{
   
      font-family:'inter', 'san-serif'; color: #ffffff;
  
    }
    .valueAD {
      font-size: 17px;
      font-weight: bold;
      
      color: #000000;
    }
  
    .myPlanAlignAD{
      display: flex;
      justify-content: center;
    }
  
    .chngMyPlanAD{
      background-color: #646363;
    margin-top:20px;
    
    transform: scale(0.8);
    height:fit-content;
     border-radius: 20px;
  
    }
    .chngMyPlanAD:hover{
      background-color: #df0000;
    }
  
    .cancelMyPlanAD{
      background-color: #df000079;
      margin-top:20px;
      
      transform: scale(0.8);
      height:fit-content;
      border-radius: 20px;
    }
    .cancelMyPlanAD:hover{
      background-color: #df0000;
    }
  
    .myPlansAD{
      background-color: #575757;
      display: block;
      border-radius: 10px;
      width:95%;
      margin-top:5px;
      margin-left: auto;
      margin-right: auto;
      font-family:'inter', 'san-serif';
    }
  
    .btnStackUADAD{
      
      display: flex;
      flex-direction: column;
      margin-top: 20%;
    }
    .divFieldsAD{
      
      
      margin-top: 10px;
      
      margin-right: 10px;
      display: block;
      justify-content: space-evenly;
      position: relative;
      width: 100%;
      
    }
  
    .label-alignAD{
      position: absolute;
      font-family:'inter', 'san-serif';
      color:#ffffff;
      top: 0;
      left: 0;
    }
  
    .middleRoundedRectAD{
      border-radius: 20px;
      background-color: #e0e0e0;
      margin-top:25px;
      margin-left: 15px;
      width:250px;
      height:fit-content;
      padding: 2px;
      display: inline-block;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    .middleAlignAD{
      margin-left: 50px;
      display: flex;
      justify-content: space-evenly;
    }