/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */



.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-detailsExDemo {
  background-color: rgba(90, 89, 89, 0.267);
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-detailsExDemo h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: rgb(248, 245, 245);
}
.workout-detailsExDemo p {
  margin: 0;
  font-size: 0.9em;
  color: rgb(238, 234, 234);
}
.workout-detailsExDemo span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.workoutsContainer {
  margin-top: 4%;
  width: 90%;
  padding-right: 20%;
  margin-left: 15%;
  overflow-y: scroll;  /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrolling */
  height: 100vh;
}

.workoutsContainer::-webkit-scrollbar {
  width: 15px; /* Width of the scrollbar */
}

.workoutsContainer::-webkit-scrollbar-track {
  background-color: #5f5e5e4b; /* Color of the scrollbar track */
}

.workoutsContainer::-webkit-scrollbar-thumb {
  background-color: #be0f0f; /* Color of the scrollbar thumb */
}

.workoutsContainer::-webkit-scrollbar-thumb:hover {
  background-color: #ececec; /* Color of the scrollbar thumb on hover */
}
/* new workout form */

.create {
  padding: 30px;
  height: fit-content;
  background: #000000;
  color: var(--error);
  border-radius: 10px;
  margin: 20px 0;
}

label {
  display: block;
  color: rgb(255, 255, 255);
}
h3 {
 
  color: rgb(255, 255, 255);
}

input {
  padding: 10px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid rgb(5, 5, 5);
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}



