.label{
    color: white;
}

.createexer{
    margin-top: 200px;
    color: white;
    margin-bottom: 300px;
     
}

.cateinsert{
    
    scale: 200%;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}