.Feedbacks{
    display: inline-block;
    width: 50%;
  margin-top: 40px;
  padding: 20px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.986);
  background-image: linear-gradient(45deg, #080808 0%, #8b091b 100%);
  border-radius: 50px;
   
}

.cont{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px 300px 300px;
    column-gap: 20px;
    row-gap: 0px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Nameonee{
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    font-weight: 800;
    text-align: center;
    
}
 

body{
    font-family: "inter", sans-serif;
}

.pfp{
    
 margin-left: auto;
 margin-right: auto;
    height: 30px;
    width: 30px;
    scale: 200%;
}

.create{
    color: #ffffff;
}




.updatediv{
    display: 'flex';
    padding: 20px;
    background-color: #7c77774b;
    display: inline-block;
    width: 50%;
    border-radius: 100px;
  }

  .red-button {
    width: 200px;
    margin: auto;
    display: block;
    background-color: rgb(77, 75, 75);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
        background-color: rgb(207, 11, 11);
    }
  }
  
  .updatesave{
    display: inline-block;
    width: 80%;
  margin-top: 40px;
  padding: 20px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.986);
  background-image: linear-gradient(45deg, #080808 0%, #8b091b 100%);
  border-radius: 50px;
  }