.ContainerHome{

    height: 100%;

}

body{
    background-color: black;
} 



  
  .contone {
  
    display: grid;
    grid-template-columns: 30% 68%;
    column-gap: 2%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 80px;
    animation-name: slideIn;
    animation-duration: 1s;
     
  }

  .redc {
    position: absolute;
    color: rgb(186, 0, 0);
    font-size: 80px;
   
    stroke-width: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .redc::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.025), rgba(251, 0, 0, 0.512));
    opacity: 0;
    animation: fade 3s infinite linear;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
      transform: translateX(-70%);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateX(70%);
    }
  }
  
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  


.biImage{
    background: url(biimg.png);
    height:857px ;
    margin-left: 10px;
}

.video-background {
    position: absolute;
   
    width: 100%;
    height: 100%;
    object-fit: cover;

    mask-image: linear-gradient(to top, transparent, black);
  -webkit-mask-image: linear-gradient(to top, transparent, black);
  }

  .background-video{
     
   
    
    mask-image: linear-gradient(to bottom, transparent, rgb(183, 170, 170));
  -webkit-mask-image: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
 

  }

.welcome{
    position: absolute;
    margin-top: 100px;
    color: aliceblue;
    font-family:"inter", sans-serif;
    font-size: 50px;
    text-align: left;
    line-height: 80px;
    font-weight: 500;
    margin-left: 150px;
}

.det1{
    position: absolute;
    display: grid;
    grid-template-rows: 250px 100px 300px;
    row-gap: 10px;
}

.welcome2{
    position: absolute;
    margin-top: 400px;
    color: aliceblue;
    font-family:"inter", sans-serif;
    font-size: 50px;
    text-align: left;
    line-height: 50px;
    font-weight: 600;
    margin-left: 150px;
}


.welcome3{
    position: absolute;
    margin-top: 600px;
    color: rgb(121, 121, 121);
    font-family:"inter", sans-serif;
    font-size: 20px;
    text-align: justify;
    width: 60%;
    line-height: 30px;
    font-weight: 600;
    margin-left: 150px;
}



.programs {
  margin-top: 650px;
  display: grid;
  grid-template-columns: 45% 55%;
  width: 100%;
  column-gap: 5%;
  transform: scale(0.9);
}

.proleft {
  margin-top: 100px;
  padding-left: 4%;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 1%;
  grid-template-rows: 400px 500px;
  row-gap: 40px;
  position: relative;
}

.proleft img {
  max-width: 100%;
  height: auto;
  margin-top: 100px;
}

.proright {
  background: url(image\ 18.png);
  background-size: cover;
  background-position: center;
}


.childleft1{
    margin-top: 200px;
    color: rgb(255, 255, 255);
    
}

.titlepara{
    font-weight: 800;
    height: 50px;
    color: #ffffff;
    
}


.para1{
    margin-top: 50px;
    font-size: 20px;
    height: 100px;
    color: #858585;
}

.buttontogo{
    margin-top: 40px;
    color: rgb(0, 0, 0);
    background-color:#FCB602;
}

.childleft2{
    margin-top: 200px;
    color: rgb(255, 255, 255);
    width:500px;
    margin-left: 0px;
}