 
/* Large devices (desktops, 992px and up) */ 
  .login-form {
    width: 36%;
    
    
    margin-bottom: 100px;
    background-color:#000000e1;
     
    border-radius: 10px;
    
    margin-left: auto;
    margin-right: auto;
  }
 
 .bodyoflogin{
  padding-top: 100px;
  background-image: url(ty2.png);
  padding-bottom: 100px;
 }
  
 
  .login-header {
    position: relative;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 20px;
  }
  .login-body{
    
    margin-top: 1px;
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 10px;
    max-width:460px ;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    position: relative;
    width: 100%;
    height:40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    position: relative;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }


  .loginbttn{
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  button[type="submit"]:hover {
    position: relative;
    background-color: #45a049;
  }

  .google-button {
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .google-button:hover {
    background-color: #357ae8;
  }
.logtxt{
  color: red;
  
}
  .notRobort{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    
    justify-content: center;
    position: relative;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #f8f8f8;
  }

  .paralogin{
    color: #686868;
    margin-left: auto;
    margin-right: auto;
  }

  .RegBtn{
    display: block;
    width:80%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }
  