.NotifyRowContainer{

    display:grid;
    grid-template-rows: 50px 45px;
    padding: 5px;
    
    width:90%;
    height: 105px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(158, 158, 155);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.NotifyRowHeaderMain{
    display:grid;
    grid-template-rows: 30% 70%;
    row-gap: 5px;
    height:60px;
}

.NotifyRowTitle{
    height:fit-content;
    padding: 1px;
    border-radius: 5px;
    background-color: rgb(99, 98, 98);
}
.NotifyRowHeader{
    display:grid;
    height: fit-content;
    
    grid-template-columns: 50% 50%;
    
}

.NotifyHeadLeft{
    text-align: left;
    padding-left: 5px;
   
    
}

.fontsStyleRight{
    font-size: 12px;
    margin-bottom: 1px;


}

.NotifyHeadRight{
    padding-right: 5px;
    text-align: right;
    
}

.NotifyRowContent{
    border-radius: 5px;
    padding: 2px;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    overflow-x: hidden;
}