.NotifyRowContainer{

    display:grid;
    grid-template-rows: 35% 50%;
    padding: 5px;
    border-radius: 10px;
    width:90%;
    height: fit-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #181818;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.NotifyRowHeaderMain{
    display:grid;
    grid-template-rows: 40% 60%;
    row-gap: 5px;
    height:fit-content;
   
}

.NotifyRowTitle{
    height:fit-content;
    padding: 1px;
    text-align: left;
    border-radius: 5px;
    

}
.NotifyRowHeader{
    display:grid;
    height: fit-content;
    margin-bottom: 30px;
    grid-template-columns: 50% 50%;
    
}

.NotifyHeadLeft{
    text-align: left;
    padding-left: 5px;
  
   
    
}

.fontsStyleRight{
    font-size: 12px;
    margin-bottom: 1px;


}

.NotifyHeadRight{
    padding-right: 5px;
    text-align: right;
    
}

.NotifyRowContent{
    border-radius: 5px;
    padding: 2px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    overflow-y: scroll;
    overflow-x: hidden;
}


.NotifyRowContent::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }
  
  .NotifyRowContent::-webkit-scrollbar-track {
    background-color: #5f5e5e00; /* Color of the scrollbar track */
  }
  
  .NotifyRowContent::-webkit-scrollbar-thumb {
    background-color: #be0f0f; /* Color of the scrollbar thumb */
    border-radius: 10px;
  }
  
  .NotifyRowContent::-webkit-scrollbar-thumb:hover {
    background-color: #ececec; /* Color of the scrollbar thumb on hover */
  }

.NotifyFontFirst{
    color: #be0f0f;
    font-size: larger;
}
.NotifyFontTitle{
    color: #ffffff;
    
}

.NotifyFontContent{
    color: #787878;
   
}