.title{

    margin-top: 40px;
    
    top: 50px;
    color: aliceblue;
     
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center


}


.search{
 

   

}